.node{
    height: 4%;
    width: 2%;
    border-style: solid;
    border-width: 1px;
    box-sizing:border-box;
    margin: 0;
}



.Orange{
    background-image: url(../../../public/Transparent_X.png);
    background-size: contain;
    background-color: darkorchid;
}

.Green{
  background-image: url(../../../public/tCir.png);
    background-size: contain;
  background-color: green;
}

.Black{
    background-color: black;
    animation-duration: .5s;
    animation-name: wallDown;
}

.Purple{
  background-image: url(../../../public/tCir.png);
  background-size: contain;
  background-color: lightsteelblue;
  /* animation-duration: 1s;
  animation-name: walk; */
}

.Blue{
    background-color:lightsteelblue;
    animation-duration: 1s;
    animation-name: appear;
}
@keyframes appear {
    0% {
      background-color: red;
    }
    100% {
      background-color: lightsteelblue;
    }
  }

  @keyframes wallDown {
    0% {
      background-color: white;
    }
    100% {
      background-color: black;
    }
  }

  @keyframes walk {
    0%{
      background-image: url();
      background-size: contain;
    }
    100%{
      background-image: url(../../../public/tCir.png);
      background-size: contain;
    }
    
  }