.node{
    height: 4%;
    width: 2%;
    border-style: solid;
    border-width: 1px;
    box-sizing:border-box;
    margin: 0;
}

.Blue{
    background-color: blue;
}

.Orange{
    background-color: orange;
}

.Green{
    background-color: green;
}

.Black{
    background-color: black;
}

.Purple{
    background-color: blueviolet;
}
