.node{
    height: 4%;
    width: 2%;
    border-style: solid;
    border-width: 1px;
    box-sizing:border-box;
    margin: 0;
}



.Orange{
    background-color: orange;
}

.Green{
    background-color: green;
}

.Black{
    background-color: black;
    animation-duration: .5s;
    animation-name: wallDown;
}

.Purple{
    background-color: blueviolet;
}

.Blue{
    background-color: blue;
    animation-duration: 1s;
    animation-name: appear;
}
@keyframes appear {
    0% {
      background-color: red;
    }
    100% {
      background-color: blue;
    }
  }

  @keyframes wallDown {
    0% {
      background-color: white;
    }
    100% {
      background-color: black;
    }
  }
