.botHalf{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.grid{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 1400px;
    height: 700px;
}

.controlBar {
    margin: 20px;
}