
.botHalf{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.grid{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 1400px;
    height: 700px;
}

.controlBar {
    margin: 20px;
}

.alertshow{
    opacity: 0;
    position: absolute;
    animation-duration: 4s;
    animation-name: alertShow;
}
.alertShowUp{
    opacity: 0;
    top: 10%;
    position: absolute; 
    animation-duration: 4s;
    animation-name: alertShow; 
}

@keyframes alertShow{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.alertDisplayNone{
    opacity: 0;
    top: 10%;
    position: absolute; 
}